<div class="container">
    <h1>Calculator for Job's XP </h1>
    <h3>Max 10 levels otherwise I'll have anxiety calculating more than that</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="nivelInicial">Your current Level:</label>
            <input type="number" class="form-control" id="nivelInicial" name="nivelInicial"
                   [(ngModel)]="nivelInicial" (change)="onNivelInicialChange()">
                   <label>{{expNivel(nivelInicial)}} XP required</label>
          </div>
          <div class="form-group">
            <label for="nivelObjetivo">Goal Level:</label>
            <input type="number" class="form-control" id="nivelObjetivo" name="nivelObjetivo"
                   [(ngModel)]="nivelObjetivo" (input)="onNivelObjetivoChange()">
                   <label>{{xpRequired}} XP required from {{nivelInicial}} to {{nivelObjetivo}}</label>
          </div>
        <div class="form-group">
          <label for="experienciaActual">Current XP:</label>
          <input type="text" class="form-control" id="experienciaActual" name="experienciaActual"
                 [(ngModel)]="experienciaActual" (input)="onExperienciaActualChange()">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="experienciaPorReceta">XP per recipe:</label>
          <input type="text" class="form-control" id="experienciaPorReceta" name="experienciaPorReceta"
                 [(ngModel)]="experienciaPorReceta" (input)="fixValues()">
          <div class="progress">
          <!--  <div class="progress-bar bg-success" role="progressbar" [style.width.%]="progreso" [attr.aria-valuenow]="progreso"
                 aria-valuemin="0" aria-valuemax="100"> {{progreso.toFixed(2)}}% {{experienciaActual}}/{{expNivel()}} </div>
          </div>-->  
          <label>Total recipes: <span style="color: red;">{{qRecipes}}</span></label>
        </div>
      </div>
    </div>
    <div class="grid">
        <!-- Primera fila -->
        <label for="ingrediente1">Ingredient 1:</label>
        <input type="text" id="ingrediente1" class="input-field" [(ngModel)]="ingrediente1" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente1*qRecipes}}</span>
      
        <!-- Segunda fila -->
        <label for="ingrediente2">Ingredient 2:</label>
        <input type="text" id="ingrediente2" class="input-field" [(ngModel)]="ingrediente2" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente2*qRecipes}}</span>
      
        <!-- Tercera fila -->
        <label for="ingrediente3">Ingredient 3:</label>
        <input type="text" id="ingrediente3" class="input-field" [(ngModel)]="ingrediente3" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente3*qRecipes}}</span>
      
        <!-- Cuarta fila -->
        <label for="ingrediente4">Ingredient 4:</label>
        <input type="text" id="ingrediente4" class="input-field" [(ngModel)]="ingrediente4" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente4*qRecipes}}</span>
      
        <!-- Quinta fila -->
        <label for="ingrediente5">Ingredient 5:</label>
        <input type="text" id="ingrediente5" class="input-field" [(ngModel)]="ingrediente5" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente5*qRecipes}}</span>
      
        <!-- Sexta fila -->
        <label for="ingrediente6">Ingredient 6:</label>
        <input type="text" id="ingrediente6" class="input-field" [(ngModel)]="ingrediente6" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente6*qRecipes}}</span>
      
        <!-- Séptima fila -->
        <label for="ingrediente7">Ingredient 7:</label>
        <input type="text" id="ingrediente7" class="input-field" [(ngModel)]="ingrediente7" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente7*qRecipes}}</span>
      
        <!-- Octava fila -->
        <label for="ingrediente8">Ingredient 8:</label>
        <input type="text" id="ingrediente8" class="input-field" [(ngModel)]="ingrediente8" /><span> ➜ </span><span class="ingredientLabelQ"> {{ingrediente8*qRecipes}}</span>
      </div>
      
      
  </div>
  